<form id="logoutForm" method="POST" th:action="@{/logout}">
    <input type="hidden"  />
</form>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img th:src="@{/images/logo.png}" width="60px" height="40px">  <i th:text="#{app.name}"></i> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                       th:text="#{app.navbar.lessons}">
                        Lessons</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"href="/lessons">All Lesson</a>
                        <li><a class="dropdown-item" href="/lesson/lesson-add">Add Lesson</a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown">Students</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"href="/students">All Student</a>
                        <li><a class="dropdown-item" href="/students/student-add">Add Student</a>
                    </ul>
                </li>
                <li >
                    <a href="?lang=az">AZ</a>
                    <a href="?lang=en">EN</a>
                </li>
                <li>

                    <a class="dropdown-item nav-item dropdown"  href="#"  onclick="document.forms['logoutForm'].submit()">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>


                </li>
            </ul>
        </div>
    </div>
</nav>




