<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-5">
    <div th:insert="navbar"></div>
    <div class="row">

        <div class="col-sm-6">
            <h2 th:text="${student.name.concat(' ').concat(student.surname)}">Card Image</h2>
            <p>Image at the top (card-img-top):</p>
            <div class="card" style="width:400px">
                <img class="card-img-top"  th:src="@{/file/download/{image}  (image=${student.imageName}) }" alt="Card image"
                     style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" th:text="${student.name.concat(' ').concat(student.surname)}" >John Doe</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>

                    <form action="#"  th:action="@{/file/upload}" method="post"   enctype="multipart/form-data" >
                        <input type="text" name="id"  hidden th:value="${student.id}">
                        <div class="form-group">

                            <input type="file" name="file" class="btn btn-primary"/>
                        </div>
                        <div class="form-group">

                            <input type="submit" value="Update Image"  class="btn btn-primary"/>
                        </div>


                    </form>

                    <a class="btn btn-primary" th:href="@{/students/student-update/{id} (id=${student.id}) }">Update</a>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <h2>Detail</h2>
            <p th:text="${student.id}">-</p>
            <div class="card" >
                <h3>Name: <span class="badge bg-secondary" th:text="${student.name}">Name</span></h3>
                <h3>Surname: <span class="badge bg-secondary" th:text="${student.surname}">surname</span></h3>
                <h3>Patronymic: <span class="badge bg-secondary" th:text="${student.patronymic}">Name</span></h3>
                <h3>Address: <span class="badge bg-secondary" th:text="${student.address}">Name</span></h3>
                <h3>Email: <span class="badge bg-secondary" th:text="${student.email}">Name</span></h3>
                <h3>Phone: <span class="badge bg-secondary" th:text="${student.phone}">Name</span></h3>
            </div>

        </div>
    </div>


</div>

</body>
</html>

