<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"> ttt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
</head>
<body>




<div class="container mt-5">
    <div th:insert="navbar"></div>
    <a href="/students/student-add" class="btn btn-success"><i class="bi bi-plus text-light"></i> Add Student</a>

    <div class="row">



        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th th:text="#{app.student.fullname}">Full Name</th>
                <th>More</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${students}">
                <td th:text="${student.id}">ID</td>
                <td th:text="${student.name.concat(' ').concat(student.surname)}">Name</td>
                <td><a th:href="@{/students/{id} (id=${student.id}) }">More</a></td>
                <td><a th:href="@{/students/student-update/{id} (id=${student.id}) }">Update</a></td>
                <td><a  class="btn btn-danger"   th:attr="onclick=|setStudentID('${student.id}')|"
                        data-bs-toggle="modal" data-bs-target="#basiceModal">Delete</a></td>

            </tr>

            </tbody>
        </table>

    </div>
</div>


<div class="container">
    <div class="col-12">
        <div class="contact-block-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3038.850463765081!2d49.8279761!3d40.3900067!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d0a8acf16d5%3A0x9e615ebd2b3e6176!2sATL%20Academy!5e0!3m2!1sen!2s!4v1639757566253!5m2!1sen!2s"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">

            </iframe>
        </div>
    </div>
</div>


<div class="modal fade" id="basiceModal" tabindex="-1" aria-labelledby="basicModalLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="basicModalLabel">Heading of Modal Here</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">

                This is the body of modal component where content is placed.

            </div>

            <div class="modal-footer">

                <form class="modal-content" action="/students/students-delete/" method="get">
                    <input type="number" id="studentId"  name="studentId" hidden>
                    <div class="row">

                        <div class="col">
                            <input type="submit" class="btn btn-primary" value="YES">
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
                        </div>


                    </div>

                </form>

            </div>

        </div>

    </div>

</div>


<script>

    var myModal = new bootstrap.Modal(document.getElementById('basiceModal'), options);

    function  setStudentID(id){
        document.getElementById("studentId").value=id;
        //alert(id);
    }


</script>

</body>
</html>

